
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
</body>

<p id="footertekst">Made by Max Mulder
    <br>
    Hogeschool van Amsterdam
    <br>
    Communication and MultimediaDesign
</p>
</html>