<%- include ./partials/head.ejs %>

<p><%- info.cast[0].name %></p>



<img src="https://image.tmdb.org/t/p/w500/<%- info.cast[0].profile_path %>" alt="" class="indexposter">

<%- include ./partials/footer.ejs %>
