<%- include ("./partials/head.ejs") %>

<main>
<article>
    <a href="/home" class="header"><img src="https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-7.png" alt="" class="headerLogo2"></a>

    <h1>F1 Season Quiz</h1>
    <p>Ben jij een F1 fan en kijk je het al jaren? Dan wordt hier getest of je wel goed genoeg oplet!
        Door middel van deze quiz kom je erachter met een vriend of je de echte F1 kenner bent.
        Je krijgt een tabel te zien met de standings van een bepaald seizoen. Aan de hand van de standings
        moet jij weten welk seizoen het is. Succes!
    </p>
</article>

<a href="/login" class="play"> Play! </a>

</main>



<%- include ("./partials/footer.ejs") %>
