<%- include ./partials/head.ejs %>

<p><%- movieInfo.name %></p>



<img src="https://image.tmdb.org/t/p/w500/<%- movieInfo.poster_path %>" alt="" class="indexposter">

<%- include ./partials/footer.ejs %>
