<%- include ./partials/head.ejs %>

<p><%- showInfo.name %></p>



<img src="https://image.tmdb.org/t/p/w500/<%-showInfo.poster_path %>" alt="" class="indexposter">

<%- include ./partials/footer.ejs %>
