<%- include ("./partials/head.ejs") %>

<main>
    <h2>Kies een nickname</h2>
    <form action="/season/drivers" method="post">
        <input type="text" name="user" id="user" autocomplete="off">
        <input type="submit">
    </form>
</main>

<%- include ("./partials/footer.ejs") %>
