<%- include ("./partials/head.ejs") %>

<main>
    <article class="login">
        <h2>Kies een nickname</h2>
        <form action="/season/drivers" method="post">
            <input type="text" name="user" id="user" autocomplete="off" placeholder="username" required>
            <input type="submit">
        </form>
    </article>

</main>

<%- include ("./partials/footer.ejs") %>
