@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border-top: 4px solid #DC0000;
    background: #15151E;
    color: #fff;
    font-family: 'Rubik', sans-serif;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Question Question Players Players"

        "Question Question Answers Answers"
        "Footer Footer Footer Footer";
}

.Question {
    grid-area: Question;
    text-align: center;
}

.Players {
    grid-area: Players;
    text-align: center;
}


.Answers {
    grid-area: Answers;
    text-align: center;
    max-height: 150px;
}

#message-container{
    max-height: 150px;
    overflow: scroll
}

#send-container{
    display: block;
    bottom: 0;
    top: 100;
}

.Footer {
    grid-area: Footer;
    margin: 0 auto;
    text-align: center;
}

#antwoord {
    display: none;
}


article{
    width: 300px;
    text-align: center;
    color: black;
    background-color: white;
    padding: 1em;
    border-radius: 10% 10% 0 0 ;
    margin: 5em auto 0em auto;
}
article > h1, article > p{
    padding: 0.5em;
}

.play {
    background-color: #DC0000;
    color: white;
    width: 300px;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    border-radius: 0 0 50% 50%;
    margin-bottom: 5em;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.login {
    border-radius: 0;
}

.login > form > input[type=submit]{
    color: white;
    background-color:#DC0000;
    border: none;
    width: 100%;
}

.speler{
    display: none;
}

table {
    margin: 1em auto;

}

td{
    padding: 0.25em 1em 0.25em 1em;
}